.Display_R {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.backH h4 {
    color: black;
    text-align: left;
    text-decoration: underline;
    background-color: gainsboro;
    padding: 10px;
    margin-top: 0;
}

.S_RecipesList {
    border: 1px black solid;
    width: 70vw;
    height: 135px;
    margin: 20px;
    text-align: left;
    background-color: white;
}

.S_RecipesList img {
    width: 13vw;
    height: 100px;
    float: left;
    margin-right: 25px;
    margin-left: 10px;
    margin: 10px 20px 5px 10px;
}

.S_RecipesList h3 {
    text-decoration: underline;
    color: black;
    display: inline-block;
    margin-bottom: 0;
}

.S_RecipesList p {
    text-decoration: none;
    color: black;
}

.Delete{
    float: right;
    margin: 5px;
    background-color: #B7472A;
    color: white;
    height: auto;
    width: auto;
}

a:-webkit-any-link {
    text-decoration: none;

}

@media screen and (max-width :1050px) {
    .S_RecipesList img {
        width: 15vw;
        height: auto;
    }

}

@media screen and (max-width: 900px) {

    .S_RecipesList {
        width: 60vw;
        height: auto;
        text-align: center;
    }

    .S_RecipesList img {
        width: 34vw;
        height: auto;
        display: block;
        margin: 25px auto 10px auto;
        float: none;
    }

    .S_RecipesList h3 {
        font-size: 1.2em;
        margin-top: 0;
    }
    .S_RecipesList p{
        font-size: 0.8em;
    }

    .Delete{
        float: right;
        margin-left: -50%;
    }

}

@media screen and (max-width:600px) {

    .S_RecipesList {
        width: 80vw;
    }

    .S_RecipesList h3 {
        font-size: 1em;
    }

    .S_RecipesList p {
        font-size: 0.8em;
    }

    .S_RecipesList img {
        width: 50vw;
        height: auto;
    }
}

@media screen and (max-width:420px) {

    .S_RecipesList {
        width: 80vw;
    }

    .S_RecipesList h3 {
        font-size: 1em;
    }

    .S_RecipesList p {
        font-size: 0.8em;
    }

    .S_RecipesList img {
        width: 42vw;
        height: auto;
    }
   
}